.weather-display {
    width: 40%;
}
.weather-display img {
    display: block;
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
}
.weather-display .temperature {
    text-transform: capitalize;
    font-size: 5rem;
}

.weather-display .description {
    text-transform: capitalize;
    font-size: 1.5rem;
}